<div style="width:500px;height:50px;border:1px solid #000;"><%= flash[:message] %></div>

<div style="width:500px;border:1px solid #000;">
  <h4>Submitted Information</h4>
  <p>Name: <%= session[:name] %></p>
  <p>location: <%= session[:location] %></p>
  <p>Location: <%= session[:language] %></p>
  <p>Comment: <%= session[:comment] %></p>
</div>

<a href="/reset"><button>Reset Method!</button></a>
